@* @model Online_Exam.ShowAnswersViewModel

@{
    ViewBag.Title = "Show Answers";
}

<div>
    <h2>Selected Radio Button Information</h2>
    <p><strong>Name:</strong> @Model.SelectedRadioName</p>
    <p><strong>Value:</strong> @Model.SelectedRadioValue</p>
</div>
 *@